body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabContent {
    display: none;
}

.tabs ul {
    display: flex;
    gap: 10px;
    padding-left: 0px;
    background-color: gold;
    font-size: 2rem;
}

.tabs li {
    display: inline;
}

.tabs a {
    text-decoration: none;
}
