:root {
    --content-background-colour: rgba(19, 5, 89, 0.8);
    --content-font-colour: white;
    --section-border-colour: white;
    --nav-hover-colour: hotpink;
}

html {
    background-image: url('./images/shinjuku-vending.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.tabContent {
    display: none;
}

.tabContent.is-active {
    display: block;
}

.tabs ul {
    display: flex;
    gap: 10px;
    padding-left: 0px;
    /* background-color: gold; */
    font-size: 2rem;
}

.tabs li {
    display: inline;
}

.tabs a,
a:link,
a:visited {
    text-decoration: none;
    color: white;
}

.homeSplash {
    width: 60vw;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    border: 3px solid var(--section-border-colour);
    border-radius: 10px;
    background-color: var(--content-background-colour);
    color: var(--content-font-colour);
    text-align: justify;
    padding: 0px 80px 30px;
}

#content h1 {
    text-align: center;
}

.contentPane {
    border: solid 2px white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 30px;
    background-color: var(--content-background-colour);
    margin-top: 20px;
    /* move slightly upwards so that text can fully show*/
    transform: translate(0, -7px);
    color: white;
}

.hoursOpen {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Ultra';
    src: url('./ultra.otf');
    font-weight: 600;
    font-style: normal;
}

/* Adds the neon text effect */
.neonText {
    color: #fff;
    font-family: 'Ultra';
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe;
}

/* Adds the neon border effect &=*/
a {
    font-size: 1.8rem;
    /* animation: pulsate 10s infinite alternate; */
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

a:hover {
    color: hotpink;
    text-shadow:
        0 0 7px #ff124f,
        0 0 10px #ff124f,
        0 0 21px #ff124f,
        0 0 42px #ff00a0,
        0 0 82px #ff00a0,
        0 0 92px #ff00a0,
        0 0 102px #ff00a0,
        0 0 151px #ff00a0;

    box-shadow:
        0 0 .2rem #ff124f,
        0 0 .2rem #ff124f,
        0 0 2rem #ff00a0,
        0 0 0.8rem #ff00a0,
        0 0 2.8rem #ff00a0,
        inset 0 0 1.3rem #ff00a0;
}

/* Menu Page */
.menuItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: solid 2px white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;   
}

.menuItem p, span {
    padding-left: 50px;
}

.menuImage {
    height: 250px;
    width: 250px;
    background-size: cover;
    align-self: end;
    border: 2px solid #ff124f;
    border-radius: 10px;
}
