body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabContent {
    display: none;
}

.tabs ul {
    display: flex;
    gap: 10px;
}

.tabs li {
    display: inline;
}
